h1 {
    color: darkgreen;
    background-color: black;
}

  .ILQAR {
      color: chartreuse;
  }

  .QARABAQFK {
        background-color: rgb(180, 15, 180);
  }

  .QARABAQFK {
      color: darkred;
  }

  h1 {
      color:darkmagenta;
  }

  .ILQAR {
      color: orangered;
  }